body {
  margin: 0;
  /* padding: 20px; */
  font-size: 1.3em;
  height: 100%;
  background-color: #fefefe;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 17px;
  background-color: rgb(219, 249, 253);
  margin-bottom: 23px;
  height: 210px;
}

article {
  background-color: #ebebeb;
  border-radius: 5px;
  margin: 0 10px 25px 10px;
  padding: 10px;
}

a {
  all: unset;
  cursor: pointer;
}

i {
  cursor: pointer;
}

i:hover {
  transition: transform .3s;
  transform: scale(1.2);
}