body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(219, 249, 253);
  font-family: "Jeju Gothic", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 1rem;
  min-height: 6rem;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

footer {
  padding: 1rem 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
  margin: 0;
}

a {
  color: inherit;
  all: unset;
  cursor: pointer;
}

a:hover {
  color: #00bcd4;
}

ul {
  all: unset;
  list-style-type: none;
}

i {
  cursor: pointer;
}

i:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}

nav .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

ul li:not(:last-child) {
  margin-right: 1rem;
}
