.sns_list {
  all: unset;
  list-style-type: none;
  display: flex;
}

.sns_list li {
  margin: 5px;
  font-size: 24px;
}

.project_demo {
  font-weight: 600;
}

.project_demo:hover {
  color: #77c2da;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
}

.slider_item {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 200px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  transform: scale(0.9);
}

.slider_item:nth-child(odd) {
  background-color: purple;
}

.slider_item:nth-child(even) {
  background-color: salmon;
}

.showing {
  opacity: 1;
  z-index: 1;
  transform: none;
}

@media (max-width: 325px) {
  body {
    font-size: 16px;
  }

  header {
    height: 183px;
  }
  
  .slider_item {
    top: 95px;
    right: 5px;
    max-height: 110px;
    max-width: 130px;
  }
}

@media (min-width: 326px) and (max-width: 395px) {
  .slider_item {
    top: 25px;
    right: 5px;
    max-height: 160px;
    max-width: 160px;
  }
}