.project_wrap {
  flex-direction: column;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  margin-bottom: 1.5rem;
}

.project:hover {
  transition: transform 0.3s;
  transform: scale(1.4);
}

.project a {
  text-align: center;
  font-size: 1.2rem;
}

.project p {
  font-size: 0.8rem;
  opacity: 0.7;
}

.sns_list {
  display: flex;
}

.sns_item {
  font-size: 2.3rem;
  color: #00bcd4;
}
